

#adminlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .adminform {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #login {
    color: #1976d2;
  }
  
  #admin-icon {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  #loginbtn {
    margin-top: 20px;
  }
  
  #credentials {
    text-align: center;
    margin-top: 20px;
  }
  
  #credentials #note {
    font-weight: bold;
  }
  
  .MuiInputLabel-asterisk {
    color: red;
  }
  #guestButton {
    margin-top: 10px;
  }
  @media (max-width: 520px) {
    #userlogin {
      padding: 10px;
    }
  } 
  